# Data loading and preparation

## Loading required python libraries

In [1]:
import pandas as pd

In [2]:
# Loading and checking the training dataset
df_train = pd.read_csv('./../data/training_data.txt', header=None)
df_train.head()

                                                0
0    put the cone on the red square on the square
1                     take the cone on the square
2                                  take the block
3                  put the red cone on the square
4  put the block on the blue square on the square

In [3]:
# Loading and checking the test dataset
df_test = pd.read_csv('./../data/test_data_v0.txt', header=None)
df_test.head()

                                                   0
0           take the block on the green circle\t\t\t
1  put the block on the circle on the red circle\t\t
2             put the green cone on the square\t\t\t
3                        take the red cone\t\t\t\t\t
4            put the green block on the square\t\t\t

In [4]:
# Remove the unnecessary trailing tabs in test dataset 
test = df_test[0].map(str.strip)

test.head()

0               take the block on the green circle
1    put the block on the circle on the red circle
2                 put the green cone on the square
3                                take the red cone
4                put the green block on the square
Name: 0, dtype: object

In [5]:
# Convert the train dataset to a pandas series
train = df_train[0]

train.head()

0      put the cone on the red square on the square
1                       take the cone on the square
2                                    take the block
3                    put the red cone on the square
4    put the block on the blue square on the square
Name: 0, dtype: object

In [6]:
# Spliting the training dataset into response and predictors
y_train = train.map(lambda x: x.split()[0])
x_train = train.map(lambda x: x.split()[1:])

In [7]:
# Spliting the test dataset into response and predictors
y_test = test.map(lambda x: x.split()[0])
x_test = test.map(lambda x: x.split()[1:])